.tasks{
    grid-column: 1 / -1;
	grid-row: 3 / -1;
	background: url(https://cdn.pixabay.com/photo/2015/09/09/16/05/forest-931706_960_720.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
}