.card{
    background: rgba(255, 255, 255, 0.493);
    height: 50px;
    width: 95%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 5px;
    color: rgb(111, 109, 109);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family : 'Oswald', sans-serif;
}